$iot-treecell-padding: dynamic(16px 0px);
$iot-treecell-icon-size: dynamic(24px);
$iot-treecell-icon-color: dynamic(transparentize($color: $text-color, $amount: 0.55));
$iot-treecell-icon-margin: dynamic(2px 32px 2px 6px);
